<div class="table-responsive">
  <table id="subsystemTable" class="table table-sm">
    <thead class="table-info">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Temperature reader</th>
        <th scope="col">Gas leak detector</th>
        <th scope="col">Smoke detector</th>
        <th scope="col">Water sprinkler</th>
        <th scope="col">Fire alarm</th>
        <th scope="col">Gas exhaust</th>
      </tr>
    </thead>
    <tbody id="subsystemTableBody"></tbody>
  </table>
</div>

<script>

  async function fetchRecentActuatorData(actuatorName, database) {
    try {
      const encodedActuatorName = encodeURIComponent(actuatorName);
      const response = await fetch(
        `/get_recent_actuator_data/${encodedActuatorName}/${database}`
      );
      const data = await response.json();
      console.log(`Received data for ${actuatorName}:`, data); // Log the received data
      return data.actuator_data;
    } catch (error) {
      console.error(`Error fetching recent ${actuatorName} data:`, error);
      return [];
    }
  }

  async function fetchRecentSensorData(sensorName, database) {
    try {
      const encodedSensorName = encodeURIComponent(sensorName);
      const response = await fetch(
        `/get_recent_sensor_data/${encodedSensorName}/${database}`
      );
      const data = await response.json();
      console.log(`Received data for ${sensorName}:`, data); // Log the received data
      return data.sensor_data;
    } catch (error) {
      console.error(`Error fetching recent ${sensorName} data:`, error);
      return [];
    }
  }
  </script>

<script>
  async function updateHistory(){

      var tableBody = document.getElementById('subsystemTableBody');

      tableBody.textContent = '';

      console.log("update")
      // Sample data (replace this with your data)
      const temperature_reader_data = await fetchRecentSensorData("Temperature reader", "stove");
      const gas_leak_detector_data = await fetchRecentSensorData("Gas leak detector", "stove");
      const smoke_detector_data = await fetchRecentSensorData("Smoke detector", "stove");

      const water_sprinkler_data = await fetchRecentActuatorData("Water sprinkler","stove");
      const fire_alarm_data = await fetchRecentActuatorData("Fire alarm","stove");
      const gas_exhaust_data = await fetchRecentActuatorData("Gas exhaust", "stove");

      data_list = [
      temperature_reader_data,
      gas_leak_detector_data,
      smoke_detector_data,
      water_sprinkler_data,
      fire_alarm_data,
      gas_exhaust_data,
      ];

      var tableBody = document.getElementById('subsystemTableBody');
      for (var i = 0; i < 101; i++) {
      // Create a new table row
      var row = document.createElement('tr');
      row.classList.add('clickable-button');
      
      var noCell = document.createElement('td');
      noCell.textContent = i+1;
      row.appendChild(noCell);

      var timestampCell = document.createElement('td');
      var timestamp_data = data_list[0][i].timestamp;
      var date = new Date(timestamp_data * 1000);
      var formattedDate = date.toLocaleString();
      timestampCell.textContent = formattedDate;
      console.log("Date:", formattedDate);
      
      row.appendChild(timestampCell);

      for (var j = 0; j < 6; j++){
        var sensorCell = document.createElement('td');
        data_value = data_list[j][i].value;
        if (data_value == -1) {
          sensorCell.textContent = "ON";
        }
        else if (data_value == -2) {
          sensorCell.textContent = "OFF";
        }
        else {
        sensorCell.textContent = data_list[j][i].value;
        }
        row.appendChild(sensorCell);
      }
      // Append the row to the table body
      tableBody.appendChild(row);
      console.log("ini row", row)
    }
  }

  updateHistory();
</script>